{% extends 'base.html.twig' %}

{% block title %}Inscription - Wonder{% endblock %}

{% block body %}

    <div class="block">

        <h1 class="mb-30">Inscription</h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary mr-10">Valider</button>
            <a href="{{ path("login") }}"><small>J'ai déjà un compte</small></a>
        {{ form_end(form) }}

    </div>

{% endblock %}
